@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&family=Righteous&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  /* filter: grayscale(50%); */
  background: linear-gradient(30deg, #C52D39, rgba(41, 41, 41, 0.401));
}

/* style for index */
.homepage {
  max-width: 21em;
  background-color: rgba(184, 220, 255, 0.3);
  margin: auto;
  border-radius: 15px;
  color: white;
  padding: 30px 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.pagetambahdokter {
  max-width: 21em;
  background-color: rgba(184, 220, 255, 0.3);
  margin: auto;
  border-radius: 15px;
  color: white;
  padding: 30px 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.container h4 {
  color: rgb(216, 216, 216);
  text-align: center;
  margin: 10px;
}

.pp {
  color: black;
  text-align: center;
}

.button {
  text-align: center;
}

.signin,
.signout-btn {
  background-color: rgb(216, 216, 216);
  min-width: 10em;
  border-radius: 10px;
  margin-top: 17px;
}

.tambahdokter {
  background-color: rgb(216, 216, 216);
}

.p2 {
  color: rgb(216, 216, 216);
  font-size: 0.8em;
  margin-top: -5px;
  margin-bottom: 20px;
}

.p3,
.p4 {
  color: black;
  font-size: 0.8em;
  margin-top: -5px;
  margin-bottom: 20px;
  text-align: center;
}

.icon {
  display: flex;
}

.icon div {
  background-color: rgb(208, 208, 208);
  margin-left: 10px;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  color: black;
}

#nav-header {
  color: rgb(216, 216, 216);
  font-weight: bold;
}

.img-logo {
  max-width: 3em;
}
.navbar-brand {
  display: flex;
}

.oxycon {
  font-family: "Righteous", cursive;
  margin-top: 5px;
  margin-left: 8px;
  font-size: 1.5em;
  color: rgb(216, 216, 216);
}

.signup {
  text-align: center;
}

.signin a {
  text-decoration: none;
}
.signup p:first-child {
  font-size: 0.9em;
  color: rgb(216, 216, 216);
  margin-top: -20px;
  margin-bottom: 1px;
}

.signup a {
  text-decoration: none;
  font-size: 0.7em;
  color: rgb(216, 216, 216);
}

.signup a:hover {
  color: grey;
}

.footer {
  font-family: "Poppins" !important;
  margin-top: -25px;
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(216, 216, 216);
}

/*end of style for index  */

/* style for dashboard */
.dashboard {
  overflow-y: hidden;
  overflow-x: hidden;
}

.list {
  background-color: rgb(252, 252, 252);
  padding: 40px;
  min-height: 100vh;
}

.main {
  background: linear-gradient(30deg, #C52D39, rgba(41, 41, 41, 0.401));
}

.icon-dash {
  color: black;
  font-family: "Righteous", cursive;
  font-size: 1.2em;
}

.icon-dash img {
  max-width: 180px;
  width: 100%;
}

.all-list div {
  padding: 10px;
  align-items: center;
}

.all-list a {
  color: black;
  text-decoration: none;
}

.all-list a:hover {
  color: grey;
}

.main .title {
  color: rgb(194, 194, 194);
  letter-spacing: 8px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.main .title h1 {
  margin-bottom: 20px;
  color: whitesmoke;
}

.user {
  margin-top: 50px;
}
.user ul li {
  list-style: none;
}

.user ul li p {
  line-height: 6px;
  color: whitesmoke;
  font-size: 1.1em;
}

.patientcru {
  display: flex;
}

.patientcru button {
  border: none;
  background-color: transparent;
  margin-top: -15px;
}

.line {
  width: 100%;
  background-color: grey;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.linesatu {
  width: 100%;
  background-color: rgb(65, 63, 63);
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.doctor button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  background-color: #C52D39;
  color: white;
  font-size: 1.1em;
}

.buttonupdate {
  text-align: right;
  margin-right: 50px;
}

.doctorlist-title th {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.5em;
}

.doctorlist-title {
  margin-right: 20px;
}

.doctorlist-title td {
  margin-top: 10px;
  color: rgb(250, 250, 250);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.2em;
}

.patientcrudoc {
  display: flex;
}

.patientcrudoc button {
  border: none;
  background-color: transparent;
}

.doctorlist a,
.doctorlistfirst a {
  color: rgb(250, 250, 250);
}

/* alat */
.oxyconlist img {
  max-width: 10em;
  margin: auto;
  padding: 5px;
}

.card-body a {
  text-decoration: underline;
}

.oxyconlist {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.oxyconplus button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 8px;
  background-color: rgb(147, 212, 50);
  color: white;
  font-size: 1.1em;
}
/* alat */
.maindoc .title h1 {
  color: whitesmoke;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 50px;
}

.maindoc .title p {
  color: rgb(212, 212, 212);
  font-size: 0.9em;
  margin-top: 20px;
  text-align: center;
}

/* label dokter list */
.labs {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.modal-body input {
  width: 100%;
}

.modal-btn {
  text-align: center;
  margin-bottom: 30px;
}

.modal-btn button {
  font-size: 1.5em;
}

.logout {
  background-color: rgb(204, 204, 204);
  min-width: 10em;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
}

.form-group select {
  border-radius: 4px;
  min-width: 100%;
  padding: 6px;
}

.submit {
  background-color: rgb(204, 204, 204);
}

.submit:hover,
.logout:hover {
  background-color: rgb(224, 224, 224);
}
